/Aula11/nbproject/private/
/Aula11/build/
/Aula12/nbproject/private/
/Aula12/build/
/Aula13/nbproject/private/
/Aula13/build/
/ProjetoVideo/nbproject/private/
/ProjetoVideo/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaDoSistema/nbproject/private/
/ResolucaoDaTela/nbproject/private/
/IdiomaDoSistema/build/
/ResolucaoDaTela/build/
/HoraDoSistemaSwing/nbproject/private/
/HoraDoSistemaSwing/build/
/HelloFX/nbproject/private/
/HelloFX/build/
/HelloFX/dist/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/HoraDoSistemaFX/nbproject/private/
/HoraDoSistemaFX/build/
/HoraDoSistemaSwing/dist/
/HoraDoSistemaFX/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/SomarValoresSwing/nbproject/private/
/SomarValoresSwing/build/
/CalculadoraIdade/nbproject/private/
/CalculadoraIdade/build/
/CalculadoraIdade/dist/
/ProjetoLivro/ProjetoLivro/nbproject/private/
/Aula02 - Copia/build/
/Aula02 - Copia/nbproject/private/
/Aula04 - Copia/build/
/Aula04 - Copia/nbproject/private/
/Aula05 - Copia/build/
/Aula05 - Copia/nbproject/private/
/Aula06 - Copia/build/
/Aula06 - Copia/nbproject/private/
/Aula07 - Copia/build/
/Aula07 - Copia/nbproject/private/
/Aula10 - Copia/build/
/Aula10 - Copia/nbproject/private/
/OlaMundo - Copia/build/
/OlaMundo - Copia/nbproject/private/
/ProjetoLivro - Copia/build/
/ProjetoLivro - Copia/nbproject/private/
/SomarValoresSwing - Copia/build/
/SomarValoresSwing - Copia/nbproject/private/
/ProjetoLivro/OperadoresAritmeticos/nbproject/private/
/ProjetoLivro/OperadoresAritmeticos/build/
/ProjetoLivro/OperadoresSwing/nbproject/private/
/ProjetoLivro/OperadoresSwing/build/
/Calcular Valores/nbproject/private/
/Calcular Valores/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/AcertarPensamento/nbproject/private/
/AcertarPensamento/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaMedia/dist/
/EqSegundoGrau/nbproject/private/
/EqSegundoGrau/build/
/TesteSwitch/nbproject/private/
/TesteSwitch/build/
/TriangulosSwing/nbproject/private/
/TriangulosSwing/build/
/Contador01/nbproject/private/
/Contador01/build/
/FatorialSwing/nbproject/private/
/FatorialSwing/build/
